inoutput.sln.DotSettings.user
*.cache
inoutput/obj/x86/Debug/*
TestResults/*
Bin/Business.dll
Bin/Business.pdb
Bin/BusinessInterface.dll
Bin/BusinessInterface.pdb
Bin/BusinessTest.dll
Bin/BusinessTest.pdb
Bin/ComponentTest.dll
Bin/ComponentTest.pdb
Bin/DAL.dll
Bin/DAL.pdb
Bin/DALInterface.dll
Bin/DALInterface.pdb
Bin/DALTest.dll
Bin/DALTest.pdb
Bin/Helper.dll
Bin/Helper.pdb
Bin/HelperTest.dll
Bin/HelperTest.pdb
Bin/Helper_Accessor.dll
Bin/Helper_Accessor.pdb
Bin/inoutput.exe
Bin/inoutput.pdb
Business/obj/Debug/Business.csprojResolveAssemblyReference.cache
Business/obj/Debug/Business.dll
Business/obj/Debug/Business.pdb
Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BusinessInterface/obj/Debug/BusinessInterface.csprojResolveAssemblyReference.cache
BusinessInterface/obj/Debug/BusinessInterface.dll
BusinessInterface/obj/Debug/BusinessInterface.pdb
BusinessInterface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BusinessTest/obj/Debug/BusinessTest.csprojResolveAssemblyReference.cache
BusinessTest/obj/Debug/BusinessTest.dll
BusinessTest/obj/Debug/BusinessTest.pdb
BusinessTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Component/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ComponentTest/obj/Debug/ComponentTest.csprojResolveAssemblyReference.cache
ComponentTest/obj/Debug/ComponentTest.dll
ComponentTest/obj/Debug/ComponentTest.pdb
ComponentTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DAL/obj/Debug/DAL.csprojResolveAssemblyReference.cache
DAL/obj/Debug/DAL.dll
DAL/obj/Debug/DAL.pdb
DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DALInterface/obj/Debug/DALInterface.csprojResolveAssemblyReference.cache
DALInterface/obj/Debug/DALInterface.dll
DALInterface/obj/Debug/DALInterface.pdb
DALInterface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DALTest/obj/Debug/DALTest.csprojResolveAssemblyReference.cache
DALTest/obj/Debug/DALTest.dll
DALTest/obj/Debug/DALTest.pdb
DALTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Entity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Helper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Helper/obj/Debug/Helper.csproj.ResolveComReference.cache
Helper/obj/Debug/Helper.csprojResolveAssemblyReference.cache
Helper/obj/Debug/Helper.dll
Helper/obj/Debug/Helper.pdb
HelperTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HelperTest/obj/Debug/HelperTest.csproj.ResolveComReference.cache
HelperTest/obj/Debug/HelperTest.csprojResolveAssemblyReference.cache
HelperTest/obj/Debug/HelperTest.dll
HelperTest/obj/Debug/HelperTest.pdb
HelperTest/obj/Debug/Helper_Accessor.dll
HelperTest/obj/Debug/Helper_Accessor.pdb
inoutput.suo
inoutput/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
inoutput/obj/x86/Debug/inoutput.csproj.GenerateResource.Cache
inoutput/obj/x86/Debug/inoutput.csprojResolveAssemblyReference.cache
inoutput/obj/x86/Debug/inoutput.exe
inoutput/obj/x86/Debug/inoutput.pdb