<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FactoryPrefix" value="I"/>
    <add key="FactorySuffix" value="Interface"/>
    <add key="EntitySuffix" value="Entity"/>
    <add key="BusinessSuffix" value="Business"/>
    <add key="DalSuffix" value="Dal"/>
    <add key="dbConnStr" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=dbimportant.mdb;"/>
    <add key="exceltype" value=".xls/.xlsx"/>
  </appSettings>
  <connectionStrings>

  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
</configuration>
