<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FactoryPrefix" value="I"/>
    <add key="FactorySuffix" value="Interface"/>
    <add key="EntitySuffix" value="Entity"/>
    <add key="BusinessSuffix" value="Business"/>
    <add key="DalSuffix" value="Dal"/>
    <add key="dbConnStr" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=dbimportant.mdb;"/>
    <add key="exceltype" value=".xls/.xlsx"/>
    <add key="youdaourl" value="http://fanyi.youdao.com/openapi.do?keyfrom=tmalllbf|key=1136281640|type=data|version=1.1|doctype=json"/>
    <add key="destfilename" value="LBF File order structure "/>
    <add key="postcoderegex" value="\([0-9a-zA-Z]{6,10}\)"/>
    
  </appSettings>
  <connectionStrings>

  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
